<ion-view title="Expense Manager" id="page8" style="background-color:#208FCE;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="expenseManager-list4" class=" ">
            <ion-item class="item-icon-left positive  " id="expenseManager-list-item2">
                <i class="icon ion-android-home"></i>Overview</ion-item>
            <ion-item class="item-icon-left assertive  " id="expenseManager-list-item4">
                <i class="icon ion-android-funnel"></i>History</ion-item>
            <ion-item class="item-icon-left  " id="expenseManager-list-item6">
                <i class="icon ion-ios-cart"></i>Budget</ion-item>
        </ion-list>
    </ion-content>
</ion-view>